body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	font-family: arial, helvetica, verdana, tahoma, sans-serif;
	text-align: center;
}

#wrapper-header {
	background: #222;
}

#header {
	width: 75%;
	height: 60px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0.5em;
	color: #eee;
	font-size: 220%;
}

#wrapper-menu {
	background: #88ac0b url('/__media__/image/menu-background.png') top left repeat-x;
	float: left;
	width: 100%;
}

#menu {
	width: 75%;
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
	padding-right: 2px;	/* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
}

* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	border-left: 1px solid #95bc0e;
	border-right: 1px solid #95bf0f;
	width: 100%;

}

#menu li {
	display: inline;
}

#menu a:link, #menu a:visited {
	padding: 0.2em 1em;
	background: transparent;
	color: #FFF;
	text-decoration: none;
	float: left;
	border-right: 1px solid #95bc0e;
}

#menu ul li a:hover
{
	background: #b6e41c url('/__media__/image/menu-hover.png') repeat-x;
	color: #485B06;
}

#content {
	width: 73%; /* 73% because it has 1% padding on each side, which brings it to 75% wide */
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 90%;
	text-align: left;
}

* html #content { padding-top: 1.8em; } /* Set padding top in IE to 20px */


#footer
{
	margin: 0 auto;
	padding: 2px 1%;
	width: 73%;
	color: white;
	letter-spacing: 0.15em;
	background: #8fb40c url('/__media__/image/menu-background.png') top left repeat-x;
	border: 1px solid #a0c80e;
	font-size: 80%;
	position: absolute;
	bottom: 0em;
}

h2 {
	color: #666;
	padding-bottom: 3px;
	border-bottom: 1px solid #a0c80e;
	font-size: 150%;
	letter-spacing: -0.1em;
}

a:link, a:visited {
	color: #260;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

p { margin-left: 1em; }

img
{
	border: 0em;
	vertical-align: middle;
}

ul.list_search_result_one_info
{
	padding: 0em;
	padding-left: 1em;
	margin: 0em;
}

ul.list_search_result_one_info li
{
	list-style: none;
	float: left;
	margin-right: 0.5em;
}

#list_channel_category
{
	padding: 0em;
	padding-top: 0.5em;
	padding-left: 0.5em;
	margin: 0em;
	min-height: 200px;
	border: 1px solid red;
}

#list_channel_category li
{
	list-style: none;
	padding: 0.1em;
}

#list_channel_category li.active
{
	background: #8fb40c url('/__media__/image/menu-background.png') top left repeat-x;
}

#list_channel_category li.hover
{
	background: #8fb40c url('/__media__/image/menu-hover.png') top left repeat-x;
}

#list_channel_category li.active a
{
	color: white;
}

