{% extends "admin/base_site" %}
{% load i18n %}
{% block userlinks %}<a href="../../../../password_change/">{% trans 'Change password' %}</a> / <a href="../../../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../../../../">{% trans 'Home' %}</a> &rsaquo; <a href="../../">{{ module_name }}</a> &rsaquo; <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo; {% trans 'History' %}</div>
{% endblock %}

{% block content %}

<div id="content-main">
<div class="module">

{% if action_list %}

    <table id="change-history">
        <thead>
        <tr>
            <th>{% trans 'Date/time' %}</th>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th>{{ action.action_time|date:_("DATE_WITH_TIME_FULL") }}</th>
            <td>{{ action.get_user.username }}{% if action.get_user.first_name %} ({{ action.get_user.first_name }} {{ action.get_user.last_name }}){% endif %}</td>
            <td>{{ action.change_message}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}

    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>

{% endif %}

</div>
</div>

{% endblock %}
