{% extends "admin/base_site" %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">Home</a> &rsaquo; <a href="../../">Documentation</a> &rsaquo; Templates &rsaquo; {{ name }}</div>{% endblock %}
{% block userlinks %}<a href="../../../password_change/">{% trans 'Change password' %}</a> / <a href="../../../logout/">{% trans 'Log out' %}</a>{% endblock %}

{% block title %}Template: {{ name }}{% endblock %}

{% block content %}
<h1>Template: "{{ name }}"</h1>

{% regroup templates|dictsort:"site_id" by site as templates_by_site %}
{% for group in templates_by_site %}
    <h2>Search path for template "{{ name }}" on {{ group.grouper }}:</h2>
    <ol>
    {% for template in group.list|dictsort:"order" %}
        <li><code>{{ template.file }}</code>{% if not template.exists %} <em>(does not exist)</em>{% endif %}</li>
    {% endfor %}
    </ol>
{% endfor %}

<p class="small"><a href="../../">&lsaquo; Back to Documentation</a></p>
{% endblock %}
