<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ko-kr" />

		<meta name="ROBOTS" content="ALL" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="Copyright"
			content="This site's design and contents Copyright (c) 2006  Spike^ekipS <spikeekips@gmail.com>." />

		<meta name="keywords" content="rss, reader, ohmynews" />
		<meta name="description" content="AguZZim is the personal NEWS tools." />

		<script
			src="/__media__/js/prototype/prototype.js"
			type="text/javascript"></script>
		<script
			src="/__media__/js/prototype/scriptaculous.js"
			type="text/javascript"></script>
		<script
			src="/__media__/js/json.js" type="text/javascript"></script>
		<script
			src="/__media__/js/default.js" type="text/javascript"></script>

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet"
			href="/__media__/css/styles.css" type="text/css" media="screen" />
	</head>

<!-- Written by Spike^ekipS <spikeekips_at_gmail.com> -->

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<a href="/"><h1>agu.ZZim.</h1></a>
	</div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
			<li><a title="default design" href="index.html">Channel</a></li>
			<li><a title="alternate design for better usability" href="index2.html">Tag</a></li>
			<li><a title="a wider version of the design" href="index3.html">Memo</a></li>
			<li><a title="a wider version of the design" href="index3.html">Podcast</a></li>
		</ul>
	</div>
</div>

<div id="content">
   {% block content %}{% endblock %}
	<div style="clear: both;"></div>
</div>

<div id="footer">
	All other content is Copyright @ 2006 by 
	<a href="mailto:spikeekips@gmail.com">Spike^ekipS</a>
</div>

</body>

</html>
