<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ko-kr" />

		<meta name="ROBOTS" content="ALL" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="Copyright"
			content="This site's design and contents Copyright (c) 2006
			Spike^ekipS <spikeekips@gmail.com>." />

		<meta name="keywords" content="rss, reader, ohmynews" />
		<meta name="description" content="AguZZim is the personal NEWS tools." />

		<script
			src="/__media__/js/prototype/prototype.js"
			type="text/javascript"></script>
		<script
			src="/__media__/js/prototype/scriptaculous.js"
			type="text/javascript"></script>
		<script
			src="/__media__/js/json.js" type="text/javascript"></script>
		<script
			src="/__media__/js/default.js" type="text/javascript"></script>

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet"
			href="/__media__/css/styles.css" type="text/css" media="screen" />
	</head>

<!-- Written by Spike^ekipS <spikeekips_at_gmail.com> -->

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<a href="/"><h1>agu.ZZim.</h1></a>
	</div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>

			<li>
				<a href="#" onClick='
Element.show("block_list_channel.add");
Element.hide("block_list_channel.list");
return false;
				'>Add Channel</a>
			</li>

			<li><a title="" href="/channel/">Channel</a></li>
			<li><a title="" href="/tag">Tag</a></li>
			<li><a title="" href="/wiki">Wiki</a></li>
			<li><a title="" href="/podcast">Podcast</a></li>
			<li id="menu_item_entry_list"></li>
			<li style="float: right;"><a
				title="" href="/frontpage/logout/">Logout</a></li>
			<li style="float: right;">
				<form action="/channel/search/" method="POST" onsubmit='
var __s = trimString($("input_search").value);
if (! __s)
{
	$("input_search").focus();
	return false;
}

new Ajax.Request(
	"/channel/search/",
	{
		asyncronous: true,
		evalScripts: true,
		parameters: "input_search=" + encodeURIComponent(__s),
		onComplete: function(request)
		{
			if (request.status == 200)
			{
				Element.hide("block_content.channel");

				Element.update("block_content.search", request.responseText);
				Element.show("block_content.search");
			}
		}
	}
);
return false;
				'>
				<span onClick='
return false;
				'>Search</span>
					<input type="text"
							id="input_search" name="input_search" value="" style="
						border: 0.1em solid gray;
						width: 200px;
					">
					<input type="submit" name="submit" value="S">
				</form>
			</li>
		</ul>
	</div>
</div>

<div id="content">
	<div
		id="block_content.search"
		style="
			display: none;
			overflow-y: auto;
	">
	</div>
	<div
		id="block_content.channel"
		style="
			overflow-y: auto;
	">
		{% block content %}{% endblock %}
	</div>
	<div style="clear: both;"></div>
</div>

<div id="footer">
	All other content is Copyright @ 2006 by
	<a href="mailto:spikeekips@gmail.com">Spike^ekipS</a>
</div>

<script type="text/javascript">
$("footer").style.left = $("content").offsetLeft + "px";
$("content").style.height =
	($("footer").offsetTop - $("block_content.channel").offsetTop - 20) +
		"px";

$("block_content.search").style.height = $("content").style.height;
$("block_content.channel").style.height = $("content").style.height;

</script>

</body>

</html>
