{% if links %}
	<ul>
	{% for link in links %}
		<li style="list-style: none;">
			<input id="input_add_channel_href_one_{{forloop.counter0}}"
				type="hidden" name="input_add_channel_href_selected" value="">
			<input type="checkbox" name="links[]" value="{{link.href}}" onClick='
	if (this.checked)
	{
		$("input_add_channel_href_one_{{forloop.counter0}}").value = "{{link.href}}";
	} else {
		$("input_add_channel_href_one_{{forloop.counter0}}").value = "";
	}
	return true;
			'>
			{% if link.title %}
				{{link.title}}
			{% else %}
				{{link.href}}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	There is no RSS Url in this page. Try again.
{% endif %}
