<!-- Written by Spike^ekipS <spike_at_gmail.com> -->
<input type="hidden" name="input_add_channel_href_selected" value="{{href}}">
<ul>
	{% if is_podcasting %}
		It's podcasting.
	{% endif %}
	<li>namespaces{{parsed.namespaces}}</li>
	<li>encoding{{parsed.encoding}}</li>
	<li>version{{parsed.version}}</li>
	<li>title{{parsed.feed.title}}</li>
	<li>url{{parsed.feed.url}}</li>
	<li>image{{parsed.feed.image}}</li>
	<li>link{{parsed.feed.link}}</li>
	<li>language{{parsed.feed.language}}</li>
	<li>subtitle{{parsed.feed.subtitle}}</li>
	<li>update{{parsed.feed.lastbuilddate}}</li>
</ul>
