<!-- Written by Spike^ekipS <spike_at_gmail.com> -->
<input type="hidden" name="input_add_channel_href_selected" value="{{href}}">
<ul>
	{% ifequal channel.namespace "itunes" %}
		It's podcasting.
	{% endifequal %}
	<li>encoding{{channel.encoding}}</li>
	<li>version{{channel.version}}</li>
	<li>title{{channel.title}}</li>
	<li>url{{channel.url}}</li>
	<li>image{{channel.image}}</li>
	<li>link{{channel.link}}</li>
	<li>language{{channel.language}}</li>
	<li>subtitle{{channel.subtitle}}</li>
	<li>update{{channel.status.time.updated}}</li>
</ul>
