<script type="text/javascript">
	var __a = document.createElement("a");
	__a.innerHTML = "&lt;Entries&gt;";
	__a.href = "";
	__a.onmouseover = function (e)
	{
		var __box_entry_list = $("block_list_channel_entry_title");

		__box_entry_list.style.width = "50%";
		/*
		__box_entry_list.style.position = "fixed";
		*/

		__box_entry_list.style.left = __a.offsetLeft + "px";
		__box_entry_list.style.top = (__a.offsetHeight + __a.offsetTop) + "px";

		Element.show("block_list_channel_entry_title");
		/*
		if (__box_entry_list.display == "none")
		{
			Element.show("block_list_channel_entry_title");
		} else {
			Element.hide("block_list_channel_entry_title");
		}
		*/
		return false;
	}
	$("menu_item_entry_list").innerHTML = "";
	$("menu_item_entry_list").appendChild(__a);
</script>

<div id="block_list_channel_entry_title" style="
		display: none;
		width: 50%;
		position: fixed;
		background-color: white;
		border: 1px solid #a0c80e;
	"
	onMouseOver='this.style.display = ""; return false;'
	onMouseOut='this.style.display = "none"; return false;'
>
	<!--
	<a href="#" onClick='
if ($("block_inner_list_channel_entry_title").style.display == "none")
{
	Element.setOpacity("block_list_channel_entry_title", 1.0);
	Element.show("block_inner_list_channel_entry_title");
	Element.update(this, "Hide");
} else {
	Element.hide("block_inner_list_channel_entry_title");
	Element.setOpacity("block_list_channel_entry_title", 0.7);
	Element.update(this, "Show");
}
return false;
	'>Close</a>
	-->
	<a href="#top">Go Top</a>
	<a href="#" isshow="true" onClick='
var __children = findChildren("block_list_channel_entry_partial", "DIV");
for (var i = 0; i < __children.length; i++)
{
	var __id = __children[i].id.replace("block_channel_entry_", "");

	Element.hide("block_channel_entry_info_" + __id);
	Element.update(this, "All Show.")
	/*
	Element.show("block_channel_entry_info_" + __id);
	Element.update(this, "All Hide.")
	*/
}
	'>All Hide</a>

	<div>
		<a href="#" onClick='
	Element.hide("block_list_channel_entry");
	Element.show("block_list_channel");
	return false;
		'>Back</a>

	{% if pager.print_page_previous %}
		<a href="#" onClick='
	new Ajax.Request(
		"/channel/getChannelEntryList/",
		{
			parameters: "id_channel={{id_channel}}&p={{pager.page_previous}}",
			asyncronous: true,
			evalScripts: true,
			onComplete: function(request)
			{
				if (request.status == 200)
				{
					document.documentElement.scrollTop = 0;
					Element.update("block_list_channel_entry", request.responseText);
				}
			}
		}
	);
	return false;
		'>&lt; Previous</a>
	{% else %}
		&lt; Previous
	{% endif %}

	{% if pager.print_page_next %}
		<a href="#" onClick='
	new Ajax.Request(
		"/channel/getChannelEntryList/",
		{
			parameters: "id_channel={{id_channel}}&p={{pager.page_next}}",
			asyncronous: true,
			evalScripts: true,
			onComplete: function(request)
			{
				if (request.status == 200)
				{
					document.documentElement.scrollTop = 0;
					Element.update("block_list_channel_entry", request.responseText);
				}
			}
		}
	);
	return false;
		'>Next &gt;</a>
	{% else %}
		Next &gt;
	{% endif %}
	</div>

	<ul id="block_inner_list_channel_entry_title">
	{% for entry in list_channel_entry %}
		<li>
			<a href="#entry-title-{{entry.id}}">{{entry.title}}</a>
		</li>
	{% endfor %}
	</ul>

</div>

<a name="top"></a>

<!-- channel entry list begin -->
<div id="block_list_channel_entry_partial">

	{% for entry in list_channel_entry %}
	<a name="entry-title-{{entry.id}}"></a>
	<div id="block_channel_entry_{{entry.id}}" style="
		border: 1px solid #a0c80e;
		margin: 0.2em;
		padding: 0.1em;
	">
		<a target="new" href="{{entry.link}}">{{entry.title}}</a>
		<div id="block_channel_entry_info_{{entry.id}}" style="
		">
			<div style="">
				Last updated at {{entry.timeUpdated}}.
			</div>
			<div style="
	padding: 0.5em;
	margin: 0.5em;
			">{{entry.summary}}</div>
			<div style="clear: both;"></div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div style="clear: both;"></div>
	{% endfor %}

</div>
<!-- channel entry list end -->

