<!-- Written by Spike^ekipS <spike_at_gmail.com> -->
{% extends "layout" %}

{% block content %}

<img id="indicator_channel" src="/__media__/image/running.gif" style="
	display: none;
">
<div id="block_list_channel_entry" style="display: none;"></div>
<div id="block_list_add" style="display: none;">
</div>
<div id="block_list_channel" style="
"></div>

<script type="text/javascript">
Element.update("block_list_channel", "");
new Ajax.Request(
	"/channel/getChannelList/",
	{
		parameters: "type=main",
		asyncronous: false,
		evalScripts: true,
		onComplete: function(request)
		{
			Element.update("block_list_channel", request.responseText);
		}
	}
);
</script>

{% endblock %}

