{% for channel in list_channel %}

<div id="block_channel.{{channel.channel.id}}" class="channel_one" style="
	border: 1px solid #a0c80e;
	margin: 0.2em;
	cursor: move;
">
	<a style="
		padding-left: 20px;
	"
	href="#" onClick='
var this_link = this.parentNode;

$("indicator_channel").style.position = "absolute";
Element.show("indicator_channel");
$("indicator_channel").style.top = this_link.offsetTop + 1 + "px";
$("indicator_channel").style.left = (this_link.offsetLeft + 3) + "px";

setTimeout(function(e)
{
	new Ajax.Request(
		"/channel/getChannelEntryList/",
		{
			parameters: "id_channel={{channel.channel.id}}",
			asyncronous: true,
			evalScripts: true,
			onLoading: function (e)
			{
			},
			onComplete: function(request)
			{
				Element.hide("indicator_channel");

				if (request.status == 200)
				{
					Element.update("block_list_channel_entry", request.responseText);
					Element.hide("block_list_channel");
					Element.show("block_list_channel_entry");
					$("block_content.channel").scrollTop = 0;
				}
			}
		}
	);
}, 1000);
return false;
			'>
{% if channel.title %}
	{{channel.title}}
{% else %}
	{{channel.channel.title}}
{% endif %}
			</a>
			<a style="font-size: 70%;" href="#" onClick='
if ($("block_channel_info_{{channel.channel.id}}").style.display == "none")
{
	Element.show("block_channel_info_{{channel.channel.id}}");
	Element.update(this, " Hide.")
} else {
	Element.hide("block_channel_info_{{channel.channel.id}}");
	Element.update(this, " More.")
}
return false;
	'> More.</a>

	<div id="block_channel_info_{{channel.channel.id}}" style="
		display: none;
	">
		<div>
		{{channel.channel.subtitle|striptags}}
		</div>
		<hr>
		<ul style="padding: 0em; margin: 0em;">
			<li style="list-style: none;">
				Last updated at {{channel.channel.status.timeUpdated}}.
			</li>
			<li style="list-style: none;">
				Added at {{channel.timeAdded}}.
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	new Draggable(
		"block_channel.{{channel.channel.id}}",
		{
			revert: true,
			dropOnEmpty: true
		}
	)
</script>


{% endfor %}

