<form
	onsubmit='
Element.update("block_search_channel_msg", "");

var __s = trimString($("input_search_channel").value);
if (! __s)
{
	Element.update("block_search_channel_msg", "Enter search string.");
	return false;
}

new Ajax.Request(
	"/channel/searchChannel/",
	{
		parameters: "q=" + encodeURIComponent(__s),
		asyncronous: true,
		evalScripts: true,
		onComplete: function(request)
		{
			alert("findme");
		}
	}
);
Element.update("block_search_channel_msg", "");
return false;
	'
	action="/channel/searchChannel">
	Search Channel : <input type="text" id="input_search_channel" name="search_channel">
	<input type="submit" name="submit" value="Search">
</form>
<div id="block_search_channel_msg" style="
	padding: 0.5em;
"></div>
<div id="block_search_channel_result" style="
	display: none;
	padding: 0.5em;
	border: 1px solid #a0c80e;
"></div>
