<a name="top"></a>

<!-- navigate begin -->
<div>
	<div style="float: left;">
	We found {{num}} number of entries.
	</div>

	<div style="float: right;">
		{% if offset_prev %}
			<a href="#" onClick='
new Ajax.Request(
	"/channel/search/",
	{
		asyncronous: true,
		evalScripts: true,
		parameters: "input_search={{search_string}}&offset={{offset_prev}}",
		onComplete: function(request)
		{
			if (request.status == 200)
			{
				Element.update("block_content.search", request.responseText);
			}
		}
	}
);
return false;
			'
				><img src="/__media__/image/arrow_prev.png"></a>
		{% else %}
			<img src="/__media__/image/arrow_prev_off.png">
		{% endif %}
		{% if offset_next %}
			<a href="#" onClick='
new Ajax.Request(
	"/channel/search/",
	{
		asyncronous: true,
		evalScripts: true,
		parameters: "input_search={{search_string}}&offset={{offset_next}}",
		onComplete: function(request)
		{
			if (request.status == 200)
			{
				Element.update("block_content.search", request.responseText);
			}
		}
	}
);
return false;
				'
				><img src="/__media__/image/arrow_next.png"></a>
		{% else %}
			<img src="/__media__/image/arrow_next_off.png">
		{% endif %}
		&nbsp;
	</div>
	<div style="clear: both;">
	</div>
</div>
<!-- navigate end -->

<!-- search result begin -->
<div id="block_search_result">

	{% for one in result %}
	<div id="block_search_result_one_{{one.uid}}" style="
		border: 1px solid #a0c80e;
		margin: 0.2em;
		padding: 0.1em;
	">
		<a target="new" href="{{one.link__}}">{{one.title}}</a>
		<ul class="list_search_result_one_info">
			<li>
				<a href="#" onClick='
		new Ajax.Request(
			"/channel/getChannelEntryList/",
			{
				parameters: "id_channel={{one.channel.id}}",
				asyncronous: true,
				evalScripts: true,
				onLoading: function (e)
				{
				},
				onComplete: function(request)
				{
					if (request.status == 200)
					{
						Element.update("block_list_channel_entry", request.responseText);

						Element.hide("block_content.search");
						Element.show("block_content.channel");
						Element.hide("block_list_channel");
						Element.show("block_list_channel_entry");
					}
				}
			}
		);
		return false;
			'>{{one.channel.title}}</a>
			</li>
			{% if one.author %}
				<li>
					By {{one.author}}.
				</li>
			{% endif %}
			<li>
				Last updated at {{one.timeUpdated}}.
			</li>
			<div style="clear: both;"></div>
		</ul>

		<div style="
				padding: 0.5em;
				margin: 0.5em;
			">
			{{one.entry.summary|striptags|truncatewords:"30"}}
		</div>
		<div style="clear: both;"></div>
		<div style="clear: both;"></div>
	</div>
	<div style="clear: both;"></div>
	{% endfor %}

</div>
<!-- search result end -->
<!-- navigate begin -->
<div>
	<div style="float: left;">
	We found {{num}} number of entries.
	</div>

	<div style="float: right;">
		{% if offset_prev %}
			<a href="#" onClick='
new Ajax.Request(
	"/channel/search/",
	{
		asyncronous: true,
		evalScripts: true,
		parameters: "input_search={{search_string}}&offset={{offset_prev}}",
		onComplete: function(request)
		{
			if (request.status == 200)
			{
				Element.update("block_content.search", request.responseText);
			}
		}
	}
);
return false;
			'
				><img src="/__media__/image/arrow_prev.png"></a>
		{% else %}
			<img src="/__media__/image/arrow_prev_off.png">
		{% endif %}
		{% if offset_next %}
			<a href="#" onClick='
new Ajax.Request(
	"/channel/search/",
	{
		asyncronous: true,
		evalScripts: true,
		parameters: "input_search={{search_string}}&offset={{offset_next}}",
		onComplete: function(request)
		{
			if (request.status == 200)
			{
				Element.update("block_content.search", request.responseText);
			}
		}
	}
);
return false;
				'
				><img src="/__media__/image/arrow_next.png"></a>
		{% else %}
			<img src="/__media__/image/arrow_next_off.png">
		{% endif %}
		&nbsp;
	</div>
	<div style="clear: both;">
	</div>
</div>
<!-- navigate end -->



